.mypic{
  width: 400px;
}
.works {
  margin: 0 auto;
  padding-bottom: 0!important;
  background-color: hsl(0, 0%, 80%);
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;

}
.myname {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.center{
  text-align: center;
}
.button_circle {
  width: 10em;
  height: 10em;
  line-height: 10em;

  border-radius: 50%;
  overflow: hidden;

  transition: .4s;

  text-align: center;
  background-color: hsl(0, 0%, 100%)
}
.button_circle:hover{
  background-color: hsl(0, 0%, 0%)
}



.button_circle:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
 }
@media screen and (max-width: 480px) {
    #totop{
        position: fixed;
        width: 40px!important;
        height: auto;
        bottom: 20px!important;
        right: 20px!important;
        cursor: pointer;
    }
    .mypic {
        width: 400px;
    }
    .title{
        margin: 0 20px 0 20px;
    }
    .twitter-top{
        margin-bottom: 20px;
    }
    .triangle1 {
        border-bottom: transparent!important;
    }
    .card {
        margin-bottom: 40px;
    }
    .works {
        margin-bottom: 30px!important;
        padding-bottom: 0!important;
    }
    .contact {
        margin: 20px 0!important;
        padding: 10px 0!important;
    }
    .contact h2 {
        margin-top: 10px!important;
    }
    footer .copyright {
        text-align: center!important;
    }
    .skills {
        margin: 10px 0 30px 0!important;
        padding: 10px 0!important;
    }
    .skills .sec-title {
        margin: 10px 0!important;
    }
}
