.font_space_title {letter-spacing: 0.20em}
.font_space_sub {letter-spacing: 0.10em}
.font_space_name {letter-spacing: 0.05em}
.font_7px {font size="3"}
.text-inline{overflow: hidden;}
.inline{float: left;}

.text-gray{
  color: hsl(0, 0%, 50%);  /*文字色*/
}
.text-wgray{
  color: hsl(0, 0%, 70%);  /*文字色*/
}

.text-white{
  color: hsl(0, 0%, 100%);  /*文字色*/
}

/* フォント */

.wf-mplus1p { font-family: "M PLUS 1p"; }
.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }
.kosugimaru { font-family: 'Kosugi Maru', sans-serif; }

.shippori { font-family: 'Shippori Mincho', serif; }
.sawarabi { font-family: 'Sawarabi Mincho', sans-serif; }

.montserrat { font-family: 'Montserrat', sans-serif; }

.thin { font-weight: 100; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.extrabold { font-weight: 800; }
.black { font-weight: 900; }


@font-face {
  font-family:'mameron';
  src:url("./font/Mamelon.woff2") format('woff2');
}

.vertical {
        writing-mode: vertical-rl;
}

.absolute_parent {
    position:  relative;        /* 要素の配置方法をと子要素の起点を指定 */
    /* left:  30px;                /* 左からの表示位置 */
    top: 0px;                  /* 上からの表示位置 */
    /* border: solid 2px red;      /* 枠線指定 */
    width : 100vw ;
    height : 60vw;        /*bimyou*/
}

.absolute_subtitle {
    position:  absolute;        /* 要素の配置方法を指定 */
    /* background-color: #ccc;     /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    /* left:  ;                /* 右からの位置指定 */
    top: 33%;                  /* 上からの位置指定 */
    width : 10% ;
    height : 40%;
}

.absolute_main {
  position:  absolute;
  /* background-color: #bbb; */
  top:8%;
  width : 45% ;
  /* height : 100%; */
  left: 0;
  right: 0;
  margin: auto;
}

.absolute_concept {
  position:  relative;        /* 要素の配置方法を指定 */
  /* background-color: #ccc;     /* 背景色指定 */
  /* padding:  20px;             /* 余白指定 */
  /* left:  ;                /* 右からの位置指定 */
  top: 10%;                  /* 上からの位置指定 */
  width : 25% ;
  height : 5%;
}

.d_s_tex{
  font-weight: 300;
  font-size:10px;
  line-height:15px;
  letter-spacing: 1px;
  color: hsl(0, 0%, 10%);
}



.design_font_tex{
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  /* font-family: 'Shippori Mincho','M PLUS Rounded 1c', serif; */
  font-weight: 300;
  font-size:10px;
  line-height:15px;
  letter-spacing: 1px;
  color: hsl(0, 0%, 10%);
}

.design_font_tex_m{
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  /* font-family: 'M PLUS Rounded 1c'; */
  font-weight: 400;
  /* font-size:10px; */
  line-height:15px;
}

.design_font_title{
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  font-family: "M PLUS Rounded 1c";
  font-weight: 300;
  color: hsl(0, 0%, 10%);  /*文字色*/
  letter-spacing: 10px;
  font-size:25px;
  line-height:20px;
}

.design_font_title_e{
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  color: hsl(0, 0%, 50%);  /*文字色*/
  letter-spacing: 10px; /*文字間隔*/
  font-size:15px;       /*文字大きさ*/
  line-height:15px;     /*行間*/
}

.design_font_concept{
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  letter-spacing: 10px; /*文字間隔*/
  font-size:20px;       /*文字大きさ*/
  line-height:15px;     /*行間*/
  position:absolute;
  top:15%;
  right:0%;
}

.design_font_komidashi_tex{
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  letter-spacing: 6px; /*文字間隔*/
  font-size:17px;       /*文字大きさ*/
}


.design_container {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
}

.design_container_p {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
}

.slider-list {
  display: flex;
  width: 1100%;
  height: 100%;
}

.slider-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.prev-next-font{
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  letter-spacing: 10px; /*文字間隔*/
  font-size:25px;       /*文字大きさ*/
  line-height:15px;     /*行間*/
  color: hsl(0, 0%, 70%);
}

.prev-next-font:hover{
  font-size:30px;
  transition:0.1s all;
}

.slider-list_p {
  display: flex;
  width: 300%;
  height: 100%;
}

.slider-item_p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}


.study_tex_1{
  font-family: "M PLUS 1p";
  font-weight: 700;
  letter-spacing: 4px; /*文字間隔*/
  font-size:14pt;       /*文字大きさ*/
}

.study_tex_2{
  font-family: "M PLUS 1p";
  font-weight: 500;
  letter-spacing: 2px;
  font-size:12pt;
}

.study_tex_3{
  font-family: "M PLUS 1p";
  font-weight: 300;
  font-size:10pt;       /*文字大きさ*/
  color: hsl(0, 0%, 30%);  /*文字色*/
}

.study_box {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: hsl(0, 0%, 80%);
    border-radius: 9px;
    border: dashed 2px hsl(0, 0%, 50%);/*点線*/
}
.study_box p {
    margin: 5px;
    padding: 5px;
}

.study_box_maru{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 30px;
  text-decoration: none;
  background: hsl(0, 0%, 0%);
  /* color: hsl(0,0%,0%); */
  /* background-image: linear-gradient(45deg, #FFFF 0%, #FFFF 100%); */
  transition: .4s;
}
.study_box_maru p {
  font-family: "M PLUS 1p";
  color: hsl(0,0%,100%);
  margin: 3px;
  padding: 3px;
}

.study_box_left {
    position: relative;
    top:-30px;
    left:20px;
    padding: 0.5em 1em;
    margin: 2em 0;
    /* color: hsl(0,0%,0%); */
    border-left: solid 2px hsl(0,0%,0%);
}
.study_box_left p {
    margin: 0;
    padding: 0;
}

.study_outline{
  cursor : pointer;
  transition:0.5s all;
  /* letter-spacing:1em; */
  /* text-align:center; */
  color:white;
  font-size:15px;
}

.study_outline:hover{
 letter-spacing:0.1em;
 transition:0.3s all;
}

.hanamaru-app{
  position: absolute;
  z-index: 40;
}

.no-scroll{
  overflow: hidden;
}


.wrap {
	overflow: hidden;
}

a.movie-btn {
  color: hsl(0, 0%, 100%);  /*文字色*/
  background-color: hsl(0, 0%, 30%);  /*ボタンの色*/
  border-bottom: 5px solid hsl(0, 0%, 20%); /*影の色*/
}

a.movie-btn:hover {
  margin-top: 3px;
  color: hsl(0, 0%, 100%);
  background: # fff20a;
  border-bottom: 2px solid hsl(0, 0%, 20%);
}

.tb_center {
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}

.comsoon{
  color: hsl(0, 0%, 60%);
}

.font_arial{
  font-family : Arial;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    display: flex;
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
}

.right_yose{
  margin-left: auto;
}

.mypic{
  width: 100%;
}
.works {
  padding-bottom: 0!important;
  background-color: hsl(0, 0%, 80%);
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}
.works_bottom{
  height: 400px
}


.works-movie {
  display: inline-block;
  cursor       : pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  text-align:center;
  line-height: 80px;
  transition   : .3s;
  border: dashed 1px black;
}
.works-movie:hover .movie-text{
  color : black;
}

.works-movie:hover{
  background-color : white;

}



.myname {
  display: flex;
  top: 70px;
}

.about_sub{
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  font-family: "M PLUS 1p";
  font-weight: 700;
  color: hsl(0, 0%, 0%);  /*文字色*/
  letter-spacing: 3px; /*文字間隔*/
  /* font-size:15px;       /*文字大きさ*/
  line-height:15px;     /*行間*/
}

.about_tex{
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  color: hsl(0, 0%, 30%);  /*文字色*/
  font-size:10pt;       /*文字大きさ*/
  letter-spacing: 2px; /*文字間隔*/
  line-height:23px;     /*行間*/

}

.con_sub:hover{
  letter-spacing:0.3em;
  transition:0.3s all;
}

.tate-line{
  /* margin-left: 100px; */
  width: 2px;
  border-radius: 1px; /* 線幅の半分 */
  height: 98%;
  background-color: black;
}

.twitter{
  text-decoration: none;
  position:relative;
  left: 5px;
  top: 10px;
}
.twitter-a{
  text-decoration: none;
}


.insta{
  position:relative;
  top: 10px;
  left: 15px;
}

.display-none{
  display: none;
}

.product{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.center{
  text-align: center;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}


/* 文字囲う */
.kakoi {
    padding: 1em;
    margin: 2em 0;
    /* font-weight: bold; */
    border: solid 2px;
    font-family: "M PLUS Rounded 1c";
    /* font-size: 10px; */

}
.kakoi p {
    margin: 2em;
    padding: 2em;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.works_f{
  position:  absolute;
  bottom: 10px;
}



.button_circle:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
 }

 /* .nav-item:hover {
     background: #ebebeb;
 } */

.navi_bottom{
   position: absolute;
   top: 0;
}

@keyframes bg_slide {
     0% {
         transform-origin: left top;
         transform: scaleX(0.0);
     }
     100% {
         transform-origin: left top;
         transform: scaleX(1.0);
     }
}
.bt-area a {
     /* font-family: 'Roboto', sans-serif; */
     font-size: 15px;
     font-weight: 500;
     color: #222222;
     text-decoration: none;
     letter-spacing: 0.2em;
     display: block;
     width: 100px;
     padding: 9px 0 8px;
     text-align: center;
     box-sizing: border-box;
     /* border: solid 1px #222222; */
     transition: 0.3s;/*マウスホバー時の反映を滑らかに*/
}
.bt-area a:hover {
    color: #ffffff;
    position: relative;
}
.bt-area a:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #222222;
    animation: bg_slide 0.4s;/*アニメーション設定追加*/
}

@media screen and (max-width: 480px) {
    /* #totop{
        position: fixed;
        width: 40px!important;
        height: auto;
        bottom: 20px!important;
        right: 20px!important;
        cursor: pointer;
    } */
    /* .mypic {
        width: 400px;
    } */
    /* .title{
        margin: 0 20px 0 20px;
    } */
    /* .twitter-top{
        margin-bottom: 20px;
    } */
    /* .triangle1 {
        border-bottom: transparent!important;
    } */
    /* .card {
        margin-bottom: 40px;
    } */
    /* .works {
        margin-bottom: 30px!important;
        padding-bottom: 0!important;
    } */
    /* .contact {
        margin: 20px 0!important;
        padding: 10px 0!important;
    } */
    /* .contact h2 {
        margin-top: 10px!important;
    } */
    /* footer .copyright {
        text-align: center!important;
    } */
    /* .skills {
        margin: 10px 0 30px 0!important;
        padding: 10px 0!important;
    } */
    /* .skills .sec-title {
        margin: 10px 0!important;
    } */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.one{
  position: relative;
  z-index: 30;
}

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: hsl(0, 0%, 50%);
  cursor: pointer;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:hsl(0, 0%, 50%);
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn-border-bottom-s {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: hsl(0, 0%, 0%);  /*文字色*/
  padding: 0.25em 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-border-bottom-s:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:rgba(0, 0, 0, 0.1);
  transition: .2s;
}

.btn-border-bottom-s:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.about-contents{
  position: absolute;
  z-index: 40;
  top: 415px;
  width: 100%;

}

.movie-contents{
  position: absolute;
  z-index: 50;
  top: 150px;
  width: 100%;
}

.about{
  position: absolute;
  z-index: 40;
  /* width: 100%; */
  bottom: 80px;
}

.hight-layer{
  /* position: absolute; */
  z-index: 50;
}

.gyokan{
  position: absolute;;
  top: 40px;
}


.wave-view {
  /* position: absolute; */

  bottom: 0px;
  /* top: -400px; */
  left: 0;
}

.wave-view-box{
  position: absolute;
  /* height: 690px; */
  height: 85%;
  width: 100%;
  bottom: 0px;
  transform: translateY(200px);
  transition: 1s;
  opacity: 0;


  z-index: 20;
  /* transform-origin: 0px 0px; */
  /* z-index: 1; */

}

.movie-view-box{
  position: absolute;
  height: 690px;
  width: 100%;
  bottom: 0px;
  transform: translateY(200px);
  transition: 1s;
  opacity: 0;


  z-index: 20;
  /* transform-origin: 0px 0px; */
  /* z-index: 1; */

}
.fadeout-anim {
 opacity: 1;
 transform: translateY(0px);
}

/*===========
inview
===========*/

.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
}
.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeIn {
  opacity: 0;
  transition: 2s;
}
.fadeIn.is-show {
  opacity: 1;
}

.works-b {
  border: solid 1px hsl(0, 0%, 50%);
  display      : inline-block;
  border-radius: 50%;                  /* 角丸 */
  cursor       : pointer;              /* カーソル形状 */
  transition   : .3s;                  /* なめらか変化 */
}
.works-b:hover {
  background-color: black;              /* 影の設定 */
}


/* pc sp */
.pc { display: block !important; }
.sp { display: none !important; }

/* PC用のCSSはメディアクエリの外に記述する */
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .pc { display: none !important; }
  .sp { display: block !important; }
}
